<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" 
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

            <section name="SmallTool.Properties.Settings" 
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
                     requirePermission="false" />

        </sectionGroup>
    </configSections>
	<appSettings>
		<!-- reference https://developer.mozilla.org/en-US/docs/Web/HTTP/Status#client_error_responses -->
		<!-- reference https://docs.microsoft.com/en-us/windows/win32/winhttp/error-messages-->
		<add key ="SupportedCategory" value="MSIPC,MIP" />
		<add key="CommonHTTPResponse" value="
			 200, 
			 400, 
			 401, 
			 403, 
			 404,
			 405,
			 406,
			 407,
			 408,
			 409,
			 410,
			 411,
			 412,
			 413,
			 414,
			 415,
			 416,
			 417,
			 418,
			 421,
			 422,
			 423,
			 424,
			 425,
			 426,
			 428,
			 429,
			 431,
			 451,
			 500, 
			 501,
			 502, 
			 503, 
			 504, 
			 505,
			 506,
			 507,
			 508,
			 510,
			 511,
			 12178,
			 12180,
			 12166,
			 12103,
			 12102,
			 12100,
			 12101,
			 12183,
			 12044,
			 12155,
			 12181,
			 12150,
			 12182,
			 12019,
			 12018,
			 12004,
			 12009,
			 12054,
			 12152,
			 12005,
			 12015,
			 12007,
			 12172,
			 12001,
			 12011,
			 12156,
			 12032,
			 12184,
			 12177,
			 12038,
			 12037,
			 12057,
			 12170,
			 12179,
			 12045,
			 12169,
			 12012,
			 12002,
			 12167,
			 12176,
			 12006,
			 12175, 
			 12157, 
			 12030, 
			 12017, 
			 12029" />
		<add key="a" value="b" />
	</appSettings>
</configuration>